
html, body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 5px;
}

#slide1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.reg_btn {
    color: #2196F3;
    display: block;
    font-family: 'Ubuntu', serif;
    padding: 12px 25px 12px 25px;
    margin-top: 20px;
    border-radius: 3px;
    border: 2px solid #2196F3;
    letter-spacing: 0.2em;
}

.reg_btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #2196F3;
}

#inactive_link {
    border-bottom: 2px solid white;
}

.btn {
    border-radius: 0;
}

div.card > a {
    text-decoration: none;
}

.navbar-dark .navbar-brand img {
    width: 42px;
    height: 38px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #263238;
}


.carousel-inner {
    height: 80vh;
}

span.date_card {
    background-color: #152127;
    border-radius: 5%;
    opacity: 0.7;
    padding: 5px 8px;
}

.carousel-item {
    height: 100%;
}

.j {
    text-align: center;
    background-color: #1b1e21;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;

}

.countdown {
    color: #FDD835;
    background-color: #263238;
    font-size: 40px;
    font-family: monospace;
    font-weight: 100;
    padding-top: 10px;
    text-align: center;
}

.countdown_text {
    color: #E1A924;
    background-color: #263238;
    font-size: 17px;
    font-family: monospace;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
}

.card {
    object-fit: cover;
    overflow: hidden;
    height: 305px;
    cursor: pointer;
    margin-bottom:20px;
    border-radius:5%;
}

.img-card {
    object-fit: cover;
    overflow: hidden;
    height: 250px;
}

.card-head h5 {
    font-size: 10px;
    padding: 0;
}

.card-img-top {
    object-fit: cover;
}

.body-card {
    color: white;
}


.card-body{
  text-align: center;
}

.card img {
    height: 100%;
    width: 100%;
}

.text {
    background-color: black;
    opacity: .8;
    transform: translateY(20);
}

.card:hover img {
    transform: scale(1.2);
    filter: brightness(.3);
    transition: all .6s ease-in;
}

.card p{
    padding: 10px;
}

.card:hover p {
    transform: translateY(-240px);
    transition: all .6s;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #263238;
    padding: 15px;
}

/* footer p {
    color: #f1f1f1;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
} */

@media screen and (max-width: 400px) {
    .countdown {
        font-size: 24px;
    }

    .countdown_text {
        font-size: 10px;
    }
}

@media screen and (max-width: 776px) {
    .reg_btn {
        display: none;
    }

    a.hmr_icon {
        display: none;
    }

}

@media screen and (max-width: 991px) {

}
.sponsors {
    padding-top: 2rem;
    background: rgb(31, 0, 82);
    background: -moz-linear-gradient(180deg,
        rgba(31, 0, 82, 1) 0%,
        rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(180deg,
        rgba(31, 0, 82, 1) 0%,
        rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg,
        rgba(31, 0, 82, 1) 0%,
        rgba(0, 0, 0, 1) 100%);
    text-align: center;
    /* Full height */
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;

    /* Create the parallax scrolling effect */
  }
  .sponsors h1{
    font-size: 5vw !important;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
  }
  .sponsors button {
    border-radius: 30px;
    padding: 20px;
    border: 0px;
    font-weight: 900 !important;
    color: #fff;
    background-color: rgb(40, 0, 148);
  }
  .logo-containerUnique img {
    max-width: 250px;
    max-height: 150px;
    margin: 3em 2%;

  }
  .contact {
    background: rgb(0, 0, 0);
    height: auto;
    padding-bottom: 3rem;
    background: rgb(12, 63, 159);
    background: -moz-linear-gradient(0deg, rgba(12, 63, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(12, 63, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(12, 63, 159, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c3f9f", endColorstr="#000000", GradientType=1);
    text-align: center;
  }
  .mainflex{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    flex-wrap: wrap;
  }
  .flex1, .flex2 {
    width: 100%;
  }
  .instaIcon{
    float: left;
    font-size: 20px;
    margin-right: 5px;
  }
  .phoneIcon{
    float: left;
    margin-right: 0.5em;
    font-size: 20px !important;

  }
  .social-media span, .numbers span {
    font-size: 20px !important;
  }
  .social-link img , .numbers img{
    margin-right: 1em;
    font-size: 40px;
    float: left;
  }

  .mail,.insta,.numbers li {
    display: flex;
    justify-content: space-around;
  }
  .social-media a:hover {
    color: #adadad;
  }
  .social-media, .numbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }
  .numbers a {
    display: flex;
    flex-wrap: nowrap;
  }
  .map{
    height: 400px;
    width: 600px;
  }
  @media (max-width:768px) and (min-width:375px){
      .map{
        height: 300px;
        width: 300px;
        position: relative;
        right: 20px;
      }
  }
  @media (max-width:320px){
    .map{
        height: 300px;
        width: 250px;
        position: relative;
        right: 5px;
      }
  }
  .contact{
      margin-top: 0px;
  }
  #ContactUsH{
    font-size: 10vw !important;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
  }
  .sponsors{
      margin-bottom: 0px;
      padding-bottom: 50px;
  }
  .footer{
    color: white;
    font-family: 'Ubuntu';
    font-size: 1.25rem;
    height: 200px;
    padding: 40px 0;
  }
  
  .ico{
    color: white;
    margin: 20px 10px;
  }



.date_card:hover{
  font-weight: bold;
  color:white;
}
.btn-inv{
  border-radius:10%;
  
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}
/* .section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #012970;
  text-transform: uppercase;
} */
.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}


/* hover css */
.partner {
  background-color: #f8f8f8;
}
.partner .partner-box {
  display: block;
  opacity: 0.3;
  height: 150px;
  width: 150px;
  margin: 25px auto;
  -webkit-transition: 0.5s all linear;
          transition: 0.5s all linear;
}
.partner .partner-box:hover {
  opacity: 1;
}
.partner .partner-box-1 {
  background: url(../img/dcoder.jfif) no-repeat center center/contain;
}
.partner .partner-box-2 {
  background: url(../img/download.png) no-repeat center center/contain;
}
.partner .partner-box-3 {
  background: url(../img/hovercss_imgs/neural\ ai.jfif) no-repeat center center/contain;
}
.partner .partner-box-4 {
  background: url(../img/IEEE_DTU_Logo.png) no-repeat center center/contain;
}
.partner .partner-box-5 {
  background: url(../img/site_dtu.jpg) no-repeat center center/contain;
}
.partner .partner-box-6 {
  background: url(../img/hovercss_imgs/sr_dtu.jfif) no-repeat center center/contain;
}
.partner .partner-box-7 {
  background: url(../img/partner-1.png) no-repeat center center/contain;
}
.partner .partner-box-8 {
  background: url(../img/partner-4.png) no-repeat center center/contain;
}

/* about css */

.about {
  padding: 120px 0;
}
.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}
.about .content ul {
  text-align: justify;
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .read-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
  position: relative;
}
.about .content .read-more:hover {
  background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}
.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}
